output/
venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*/.virtual_documents/*
.vscode
.DS_Store
*.pyc
*.zip
devdata/work-items-out/
testrun/*
.~lock*
*.pkl
.venv
*.png
*.jpeg
build/lib/news_data_extractor/__init__.py
build/lib/news_data_extractor/source/__init__.py
build/lib/news_data_extractor/source/main.py
